services:
  - type: web
    name: renaissance-ml
    runtime: python
    rootDir: ml-service
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn main_ml:app --host 0.0.0.0 --port $PORT
    healthCheckPath: /

  - type: web
    name: renaissance-app
    runtime: node
    rootDir: .
    plan: free
    buildCommand: npm install && npm --prefix frontend install && npm --prefix frontend run build
    startCommand: npm start
    healthCheckPath: /
    envVars:
      - key: NODE_VERSION
        value: 20
      - key: MONGODB_URI
        sync: false
      - key: ADMIN_USERNAME
        value: loomadmin
      - key: ADMIN_PASSWORD
        sync: false
      - key: HF_API_TOKEN
        sync: false
      - key: ML_SERVICE_URL
        fromService:
          type: web
          name: renaissance-ml
          property: hostport
      - key: VITE_RECAPTCHA_SITE_KEY
        sync: false
      - key: VITE_BACKEND_URL
        sync: false
